In [4]:
import pandas as pd
import numpy as np
from nba_api.stats.endpoints import playercareerstats
import requests
from bs4 import BeautifulSoup

# Nikola JokiÄ‡
career = playercareerstats.PlayerCareerStats(player_id='203999') 

# pandas data frames (optional: pip install pandas)
df = career.get_data_frames()[0]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          10 non-null     int64
 1   SEASON_ID          10 non-null     object
 2   LEAGUE_ID          10 non-null     object
 3   TEAM_ID            10 non-null     int64
 4   TEAM_ABBREVIATION  10 non-null     object
 5   PLAYER_AGE         10 non-null     float64
 6   GP                 10 non-null     int64
 7   GS                 10 non-null     int64
 8   MIN                10 non-null     float64
 9   FGM                10 non-null     int64
 10  FGA                10 non-null     int64
 11  FG_PCT             10 non-null     float64
 12  FG3M               10 non-null     int64
 13  FG3A               10 non-null     int64
 14  FG3_PCT            10 non-null     float64
 15  FTM                10 non-null     int64
 16  FTA                10 non-null     int64
 17  FT_PCT             10 non-null     float64
 18  OREB               10 non-null     int64
 19  DREB               10 non-null     int64
 20  REB                10 non-null     int64
 21  AST                10 non-null     int64
 22  STL                10 non-null     int64
 23  BLK                10 non-null     int64
 24  TOV                10 non-null     int64
 25  PF                 10 non-null     int64
 26  PTS                10 non-null     int64
dtypes: float64(5), int64(19), object(3)
memory usage: 2.2+ KB

In [7]:
max_pts = df.sort_values(by='PTS', ascending=False)
max_pts

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
8,203999,2023-24,00,1610612743,DEN,29.0,79,79,2737.0,822,...,0.817,223,753,976,708,108,68,237,194,2085
6,203999,2021-22,00,1610612743,DEN,27.0,74,74,2476.0,764,...,0.810,206,813,1019,584,109,63,281,191,2004
5,203999,2020-21,00,1610612743,DEN,26.0,72,72,2488.0,732,...,0.868,205,575,780,599,95,48,222,192,1898
7,203999,2022-23,00,1610612743,DEN,28.0,69,69,2323.0,646,...,0.822,167,650,817,678,87,47,247,174,1690
3,203999,2018-19,00,1610612743,DEN,24.0,80,80,2504.0,616,...,0.821,228,637,865,580,108,55,248,228,1604
4,203999,2019-20,00,1610612743,DEN,25.0,73,73,2335.0,565,...,0.817,166,545,711,512,85,44,226,222,1456
2,203999,2017-18,00,1610612743,DEN,23.0,75,73,2443.0,504,...,0.850,195,608,803,458,90,61,210,212,1385
1,203999,2016-17,00,1610612743,DEN,22.0,73,59,2038.0,494,...,0.825,212,506,718,359,61,55,171,214,1221
0,203999,2015-16,00,1610612743,DEN,21.0,80,55,1733.0,307,...,0.811,181,379,560,189,79,50,104,208,796
9,203999,2024-25,00,1610612743,DEN,29.0,10,10,381.0,108,...,0.843,45,92,137,117,17,10,41,20,297

In [9]:
max_3pct = df.sort_values(by='FG3_PCT', ascending=False)
max_3pct

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
9,203999,2024-25,00,1610612743,DEN,29.0,10,10,381.0,108,...,0.843,45,92,137,117,17,10,41,20,297
2,203999,2017-18,00,1610612743,DEN,23.0,75,73,2443.0,504,...,0.850,195,608,803,458,90,61,210,212,1385
5,203999,2020-21,00,1610612743,DEN,26.0,72,72,2488.0,732,...,0.868,205,575,780,599,95,48,222,192,1898
7,203999,2022-23,00,1610612743,DEN,28.0,69,69,2323.0,646,...,0.822,167,650,817,678,87,47,247,174,1690
8,203999,2023-24,00,1610612743,DEN,29.0,79,79,2737.0,822,...,0.817,223,753,976,708,108,68,237,194,2085
6,203999,2021-22,00,1610612743,DEN,27.0,74,74,2476.0,764,...,0.810,206,813,1019,584,109,63,281,191,2004
0,203999,2015-16,00,1610612743,DEN,21.0,80,55,1733.0,307,...,0.811,181,379,560,189,79,50,104,208,796
1,203999,2016-17,00,1610612743,DEN,22.0,73,59,2038.0,494,...,0.825,212,506,718,359,61,55,171,214,1221
4,203999,2019-20,00,1610612743,DEN,25.0,73,73,2335.0,565,...,0.817,166,545,711,512,85,44,226,222,1456
3,203999,2018-19,00,1610612743,DEN,24.0,80,80,2504.0,616,...,0.821,228,637,865,580,108,55,248,228,1604

In [ ]:
from nba_api.live.nba.endpoints import scoreboard

# Today's Score Board
games = scoreboard.ScoreBoard()

<nba_api.live.nba.endpoints.scoreboard.ScoreBoard object at 0x11f46b7a0>

In [12]:
# Query nba.live.endpoints.scoreboard and  list games in localTimeZone
from datetime import datetime, timezone
from dateutil import parser
from nba_api.live.nba.endpoints import scoreboard

f = "{gameId}: {awayTeam} vs. {homeTeam} @ {gameTimeLTZ}" 

board = scoreboard.ScoreBoard()
print("ScoreBoardDate: " + board.score_board_date)
games = board.games.get_dict()
for game in games:
    gameTimeLTZ = parser.parse(game["gameTimeUTC"]).replace(tzinfo=timezone.utc).astimezone(tz=None)
    print(f.format(gameId=game['gameId'], awayTeam=game['awayTeam']['teamName'], homeTeam=game['homeTeam']['teamName'], gameTimeLTZ=gameTimeLTZ))

ScoreBoardDate: 2024-11-12
0022400001: Hawks vs. Celtics @ 2024-11-12 16:00:00-08:00
0022400002: Heat vs. Pistons @ 2024-11-12 16:00:00-08:00
0022400003: Hornets vs. Magic @ 2024-11-12 16:00:00-08:00
0022400004: Knicks vs. 76ers @ 2024-11-12 16:30:00-08:00
0022400005: Raptors vs. Bucks @ 2024-11-12 17:00:00-08:00
0022400006: Suns vs. Jazz @ 2024-11-12 18:00:00-08:00
0022400007: Mavericks vs. Warriors @ 2024-11-12 19:00:00-08:00
0022400008: Timberwolves vs. Trail Blazers @ 2024-11-12 19:00:00-08:00